* {
	margin: 0px;
	padding: 0px;
}

html, body {
    margin: 0px;
	padding: 0px;
}

html, body, p, td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	line-height: 1.6em;
}

p { line-height: 1.6em;
    margin-bottom: 10px;
}

hr {
	height: 2px;
	margin-top: 10px;
	border: none;
	border-top: 2px solid #55ce75;
}
img {
	margin: 0px;
}

#clear {
    clear: both;
}

a {outline: none;}
a img {outline: none; border:0;}

h1 {font-family: Georgia, Arial, Helvetica, sans-serif; font-size: 34px; color: #122f13; font-weight: normal; margin-bottom: 8px; line-height: 1.0em; }
h2 {font-family: Georgia, Arial, Helvetica, sans-serif; font-size: 28px; color: #122f13; font-weight: normal; margin-bottom: 8px; line-height: 1.6em;}
h3{font-family: Georgia, Arial, Helvetica, sans-serif; font-size: 22px ; color: #122f13; font-weight: normal; margin-bottom: 8px; line-height: 1.6em;}
h4 {font-family: Georgia, Arial, Helvetica, sans-serif; font-size: 18px ; color: #122f13; font-weight: normal; margin-bottom: 8px; line-height: 1.6em; }
h5 {font-family: Georgia, Arial, Helvetica, sans-serif; font-size: 14px ; color: #122f13; font-weight: bold; margin-bottom: 8px; line-height: 1.6em; }
a:link {color: #122f13; font-weight: normal; text-decoration: none;}
a:visited {color: #122f13; text-decoration: none;}
a:hover {color: #122f13; text-decoration: underline;}
a:active {color: #122f13; text-decoration: none;}
.right {float: right;}
.left {float: left;}

.underline {
	border-bottom: 1px solid #00aeef;
	padding: 0px 0px 8px 0px;
}

.white { color: #fff; }

#content_wrapper ul, ol {
	margin-left: 15px;
}
